
@using PAdGWebAppMVC.ViewModel
@model BlogArtCatViewModel
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Home Page del Blog di Giovanna Turchio</h1>
        <div class="row">
            <div class="col-10">
                @foreach (var blogArticle in Model.myBlogArticles)
                {
                    <ItemTemplate>
                        <b>@blogArticle.BA_Titolo</b>
                        <p class="card-text">
                            @blogArticle.BA_Descrizione
                        </p>
                        <a href="@blogArticle.BA_Categoria/@blogArticle.BA_URL">Leggi l'articolo completo...</a>
                        <div class="card-footer text-muted">
                            Postato il: @blogArticle.BA_DataOra_Pubblicazione <!--,"{0: MMMM dd, yyyy}")%>-->
                            <a href="@blogArticle.BA_Categoria/@blogArticle.BA_URL">Tutela del Concepito</a>
                        </div>
                    </ItemTemplate>
                }
            </div>
            <div class="col-2">
                Categorie
                <hr />
                @foreach (var blogCategory in Model.myBlogCategories)
                {
                    @blogCategory.BC_Description 
                    <br />
                }
            </div>
    </section>
</main>
